/* For Whole Webpage */

* {
    /* background-color: #000; */
    /* color: #dddddd; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #000;

    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

a,
button {
    all: unset;
    padding: auto;
    cursor: pointer;
}

.sub-heading {
    font-size: 3.2rem;
    padding-left: 100rem;
    padding-bottom: 10rem;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #787878ad;
}

/* For Carousel */

.carousel {
    display: flex;
    /* background-size: cover; */
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    filter: brightness(70%);
}

.carousel-item {
    height: 60rem;
    width: 100%;
    position: relative;
}

/* For Display -> GRID */

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
    /* margin-bottom: 9.6rem; */
}

.grid--2--cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid--5--cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* For Lists */

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-items {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: #cbcbcb;
}

/* For Buttons */

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 4rem;

    /* only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;

    /* Put transition on original "state" */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.btn--full:link,
.btn--full:visited {
    transition: all 0.5s ease-in-out;
    background-color: #c20000;
    color: #fff;
}

.btn--full:hover,
.btn--full:active {
    background-color: #f00;
    color: #000;
    box-shadow: inset 6px 6px 8px #454545, inset -6px -6px 8px #ffffffd4;
}

.btn--outline:link,
.btn--outline:visited {
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
    /* border: 3px solid #fff; */
    /* Trick to add border inside */
    /* box-shadow: inset 0 0 0 3px #fff; */
    box-shadow: inset 6px 6px 8px #454545, inset -6px -6px 8px #ffffffd4;
}

.btn--form {
    background-color: #490f0f;
    color: #cacaca;
    align-self: end;
    padding: 1.2rem;

    transition: all 0.5s ease-in-out;
}

.btn--form:hover {
    background-color: #cacaca;
    color: #830000;
    box-shadow: inset 6px 6px 8px #454545, inset -6px -6px 8px #ffffffd4;
}

/*************************************/
/* FOOTER SECTION */
/*************************************/

.footer {
    background-color: #000;
    color: #fff;
    padding: 1.6rem;
    padding-top: 3.2rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.grid--footer {
    display: grid;
    grid-template-columns: 0.75fr;
    justify-content: space-between;
    /* column-gap: 9.6rem; */
}

address {
    margin-bottom: 0rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    color: #bbbaba;
}

.footer-link:hover,
.footer-link:active {
    text-decoration: none;
    color: #fff;
}
.footer-logo {
    height: 14.4rem;
    padding-left: 1.6rem;
}

.contacts-icon,
.follow-icon {
    height: 3.2rem;
    width: 3.2rem;
    padding: 0.8rem;
    color: #ffffff;
    border: 0.2rem solid #fff;
    border-radius: 50%;
}

.contacts {
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    justify-self: center;
    column-gap: 2.4rem;
}

.follow {
    align-items: center;
    grid-column-start: 2;
    grid-column-end: -1;
    /* justify-content: center; */
    column-gap: 4rem;
    justify-self: center;
}

.follow-us-text {
    padding-left: 18.6rem;
    font-size: 2.4rem;
    font-family: "Rubik", sans-serif;
}

.credit {
    font-size: 2rem;
    font-family: "Dancing Script";
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
}

.credit span {
    color: red;
    font-size: 3rem;
}
