/*************************************/
/* HEADER*/
/*************************************/

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    margin-top: 1rem;

    /* Because we want header to be sticky */
    height: 9.6rem;
    padding: 2.4rem 4.8rem;
    position: relative;
    gap: 10.8rem;
}

.logo {
    height: 10.8rem;
}

/*************************************/
/* NAVIGATION */
/*************************************/

.main-nav,
.profile-nav {
    list-style: none;
    font-size: 2.8rem;
    /* text-transform: uppercase; */
}

.main-nav-link:link,
.main-nav-link:visited {
    gap: 10.8rem;
    color: #d1cbcb;
    text-decoration: none;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #fff;
}

.main-nav-list,
.main-nav-user-list {
    list-style: none;
    display: inline-flex;
    gap: 3rem;
    padding: 0 1.2rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

/* .main-nav-user-list > li {
    font-size: 2.4rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0.6rem 0.8rem;
} */

/*************************************/
/* OVERLAY SIGN IN SECTION */
/*************************************/

/* CSS in the sign-in.css file */

/*************************************/
/* HERO SECTION */
/*************************************/

/* .section-hero{
  The carousel effect is the CSS for this section
} */

.hero-message {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 5.6rem;
    color: #aeacac;
    text-align: left;
    top: 10rem;
    padding: 0.8rem;
}

.msg2 {
    color: #cfcaca;
    top: 42rem;
    padding: 0.8rem;
    text-align: center;
}

.msg3 {
    color: #cfcaca;
}

.hero-button:link,
.hero-button:visited {
    font-family: "Edu NSW ACT Foundation", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff;
    background-color: #b30000;
    padding: 1rem 2rem;
    border-radius: 4rem;
    top: 30rem;
    bottom: auto;
    right: auto;
    left: 25rem;
    /* border: 2px solid orange; */
    /* margin-left: 100rem; */
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.hero-button:hover,
.hero-button:active {
    background-color: #ff0000;
    color: #000000;
    box-shadow: inset 6px 6px 8px #454545, inset -6px -6px 8px #ffffffd4;
}

.btn2:link,
.btn2:visited {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bdb000;
}

.btn2:hover,
.btn2:active {
    background-color: #ffee00;
}

.btn3:link,
.btn3:visited {
    background-color: #0093bc;
    transition: all 0.5s ease-in-out;
}

.btn3:hover,
.btn3:active {
    background-color: #00c3ff;
}

/*************************************/
/* ABOUT US SECTION */
/*************************************/

.section-about {
    background-color: #141313;
    padding-top: 2.4rem;

    /* border: 2px solid white; */
}

.about {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
}

/* 
.about-img-box {
} */

.about-img {
    width: 100%;
    margin: 1.6rem;
    /* border: 2px solid white; */
    border-radius: 1rem;
    transition: 1s ease-in-out;
}

.about-img:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.passes {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid #fff; */
    margin-bottom: 3.2rem;
}

.pass {
    font-family: "Edu NSW ACT Foundation", sans-serif;
    text-align: center;
    padding: 2.4rem;
    /* font-weight: 700; */
    font-size: 3rem;
    border: 0.6rem double #787878;
    border-radius: 0.75rem;
    width: 24rem;
    height: 20rem;
    margin: 0.4rem;
}

.pelite {
    font-weight: 900;
    background: linear-gradient(to right, #daa520, #ffd700, #daa520);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.ppro {
    font-weight: 900;
    background: linear-gradient(to right, #888888, #c0c0c0, #888888);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.phome {
    font-weight: 900;
    background: linear-gradient(to right, #8a2be2, #ff00ff, #8a2be2);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.pass-message {
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    padding-top: 1rem;
    color: #aeacac;
}

.about-text {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    color: #d1cbcb;
    /* border: 2px solid red; */
    /* width: auto; */
    height: 50rem;
    padding: 4.8rem;
}

.about-explore {
    margin-left: 29.8rem;
    padding: 1rem;
    text-align: center;
    /* border: 0.2rem solid yellow; */
    font-size: 1.6rem;
    line-height: 1.4rem;
    border-radius: 0.5rem;
    font-weight: 900;
    text-decoration: none;
    background: #fff;
    background: linear-gradient(to left, #ffffff, #dcdcdc, #949494, #4a4949);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    /* font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif; */
    /* border: 1px solid transparent; */
    transition: all 1s ease-in-out;
}

.about-explore:hover {
    background: #4a4949;
    background: linear-gradient(to right, #ffffff, #dcdcdc, #949494, #4a4949);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: all 1s ease-in-out;
    transition: linear 1s;
}

/*************************************/
/* PROGRAMS SECTION */
/*************************************/

.section-programs {
    /* background-image: repeating-linear-gradient(45deg, #000, #353434); */
    padding-top: 1.6rem;
    background-image: repeating-linear-gradient(-30deg, #141313 0 2.4rem, #000 2.4rem 4.8rem);
    height: 60rem;
}

.programs {
    padding-top: 1.6rem;
    /* display: grid; */
    gap: 9.6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.program-img {
    width: 100%;
    height: 50rem;
    margin: -1.6rem;
    border-radius: 1rem;
    transition: 1s ease-in-out;
}

.program-img:hover {
    transform: scale(1.125) translateY(-4rem);
    transition: 1s ease-in-out;
}

.program-names {
    font-size: 3.2rem;
    font-family: "Edu NSW ACT Foundation", sans-serif;
    text-transform: capitalize;
    color: #000000;
    font-weight: 900;
    text-align: center;
    padding: 0.8rem;
    padding-top: 0rem;
    row-gap: 8.4rem;
    /* margin-top: -14.4rem; */
}

.program {
    /* background-color: #ff0000; */
    background: linear-gradient(135deg, #ff8800, #ffffff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* border: 0.2rem solid #ffffff; */
    border-bottom-left-radius: 5%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 5%;
    padding: 1.6rem;
    margin: 1.6rem;
    column-gap: 32rem;
    transition: 0.6s;
    /* transform: rotate3d(0, 0, 0, 0deg) scale(0, 0); */
}

.program:hover {
    background: linear-gradient(45deg, #ffffff, #ff8800);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.6s;
    transform: rotate3d(-1, -2, -1, 45deg) scale(2, 1.5);
    border: none;
    padding: 0;
    /* color: #00ff00; */
}

/*************************************/
/* PRICING SECTION */
/*************************************/

.section-facilities {
    background-color: #141313;
    color: #cbcbcb;
    padding: 3.2rem 6.4rem;
    font-family: "Poppins", sans-serif;
}

.pricing {
    align-items: center;
    justify-content: space-around;
    column-gap: 2.4rem;
    padding-top: 3.2rem;
    /* width: 75%; */
}

.pricing-plan--elite {
    /* justify-self: end; */
    border: 2px solid #fdf2e9;
    padding: 4.6rem;
    transition: 1s ease-in-out;
}

.pricing-plan--pro {
    /* background-color: #fdf2e9; */
    padding: 4.6rem;
    position: relative;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.pricing-plan--home {
    /* justify-self: end; */
    border: 2px solid #fdf2e9;
    padding: 4.6rem;
    transition: 1s ease-in-out;
}

.pricing-plan--pro:hover,
.pricing-plan--elite:hover,
.pricing-plan--home:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
.plan {
    border: 0.3rem solid #787878;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(255, 255, 255, 0.108);
    align-items: center;
    padding: 2.4rem;
}

.plan-header,
.fp {
    text-align: center;
    justify-self: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    text-transform: uppercase;
    margin-bottom: -2rem;
    background-color: #141313;
    text-align: center;
    font-family: "Edu NSW ACT Foundation", sans-serif;
    text-align: center;
    font-size: 7rem;
    border: none;
    margin-left: 20%;
    margin-top: -10%;
}

.plan-price,
.fp {
    font-family: "Edu NSW ACT Foundation", sans-serif;
    border-top: 0.6rem solid #787878;
    font-size: 6.2rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1.6rem;
}

.fp {
    border: none;
    font-size: 3.2rem;
    margin-bottom: 0;
    font-family: "Dancing SCript", sans-serif;
    text-align: center;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.plan-details {
    margin: 1rem;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    padding: 2.4rem;
    color: #ffffff5f;
}

.feature-icon {
    font-family: "Poppins", sans-serif;
    color: #000;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #9a9999;
    border: 0.2rem solid #000;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: all 0.25s ease-in-out;
}

.feature-icon:hover {
    transition: all 0.25s ease-in-out;
    background-color: #fff;
}

.feature-title {
    font-family: "Rubik", sans-serif;
    font-size: 2.4rem;
    color: #666;
    font-weight: 700;
    margin-bottom: 1rem;
}

.feature-text {
    font-size: 1.6rem;
    line-height: 1.8;
}

/*************************************/
/* TESTIMONIALS SECTION */
/*************************************/

.section-testimonials {
    background-image: url(../images/home/test-background.jpg);
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.section-testimonials h2 {
    padding-top: 2.4rem;
    padding-left: 10rem;
    font-size: 2.8rem;
    color: #949393ad;
    padding-bottom: 2rem;
    text-transform: none;
}

.testimonial-sect {
    display: grid;
    /* grid-template-columns: 50fr 50fr; */
    align-items: center;
    padding: 0 3.6rem 0 3.6rem;
}

.testimonials {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    row-gap: 3.6rem;
    column-gap: 4rem;
}

.testimonial-container {
    padding: 3.2rem;
}

.testimonials-text {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
    color: #bebebe;
}

.testimonial-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    margin-bottom: 0.8rem;
    margin-left: 45rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #bebebe;
    padding-left: 12rem;
    margin-left: 40rem;
}

.gallery-img-1 {
    grid-area: img1;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-2 {
    grid-area: img2;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-3 {
    grid-area: img3;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-4 {
    grid-area: img4;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-5 {
    grid-area: img5;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-6 {
    grid-area: img6;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-7 {
    grid-area: img7;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-8 {
    grid-area: img8;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-9 {
    grid-area: img9;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-10 {
    grid-area: img10;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-11 {
    grid-area: img11;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

.gallery-img-12 {
    grid-area: img12;
    /* grid-column-start: ;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: ; */
}

/* .gallery-container {
    padding: 2.4rem;
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
        "img1 img1  img2 img2 img3  img3"
        "img1 img1  img2 img2 img3 img3 "
        "img4 img4 img4 img4 img11 img11"
        "img4 img4 img4 img4 img11 img11"
        "img4 img4 img4 img4  img5 img5"
        "img4 img4 img4 img4  img5 img5"
        "img12 img12 img7 img7 img7 img7"
        "img12 img12 img7 img7 img7 img7"
        "img6 img6 img7 img7 img7 img7"
        "img6 img6 img7 img7 img7 img7"
        "img8 img8  img9 img9 img10  img10"
        "img8 img8  img9 img9  img10 img10";
    background-color: #1a1818;
    padding: 1rem;
    column-gap: 1rem;
    box-shadow: 0rem 0rem 4.2rem rgba(191, 187, 187, 0.75);
    /* height: 110rem; */
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.6s;
    border-radius: 1rem;
}

.gallery-item img:hover {
    transition: all 0.6s;
    transform: scale(1.2);
}

.gallery-img {
    /* height: auto; */
    width: 100%;
}

/*************************************/
/* CALL to ACTION SECTION */
/*************************************/

.section-cta {
    /* top / right / bottom / left */
    /* padding: 9.6rem 0 12.8rem 0; */
    /* top / horizontal / left */
    padding: 4.8rem 10.8rem;
    background: linear-gradient(45deg, #040025, #030014);
    color: #fdf2e9;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(255, 255, 255, 0.15);
    border-radius: 4rem;
    background-image: linear-gradient(to right bottom, #13131365, #161616);
    overflow: hidden;
}

.cta-text-box {
    color: inherit;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
    /* color: #45260a; */
    color: inherit;
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, rgba(27, 27, 28, 0.35), rgba(0, 2, 56, 0.35)),
        url("../images/home/cta2.jpg");
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #000000;
    border-radius: 4rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input ::placeholder {
    color: #aaa;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
