.section-overlay {
    width: 100%;
    height: 100%;
    color: #00ff00;
    /* padding: 2rem; */
}

.overlay-section {
    position: fixed;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    border: 10px solid rgb(255, 0, 0);
    transform: translate(-50%, -50%);
    display: none;
}

.profile-btn {
    background-color: transparent;
    font: inherit;
    color: #d1cbcb;
    cursor: pointer;
}

.close-btn {
    color: #00ff00;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 20rem;
    background-color: #fff;
    cursor: pointer;
}

/* .btn,
.btn:hover,
.btn:active {
    margin-left: 250px;
    margin-top: 50px;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(144, 142, 142);
    font-size: large;
    text-decoration: none;
    word-spacing: 1px;
    padding: 10px;
    border-radius: 10px;
    border-color: gold;
    border: 2px solid white;
} */

.label {
    padding: 10px;
    opacity: 0.8;
    border-style: solid;
    border-radius: 5px;
}
